<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>WeightedLGB</title>

    <link rel="shortcut icon" href="../static/favicon.ico">
    <link type="text/css" rel="stylesheet" href="../static/css/my.css"/>

    <script type="text/javascript" src="../static/scripts/library/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../static/scripts/library/FlatQueue.js"></script>
    <script type="text/javascript" src="../static/scripts/library/d3.min_v5.js"></script>
    <script type="text/javascript" src="../static/scripts/library/d3-delaunay@6.js"></script>


</head>
<body style="margin: 8px">

</body>
<script type="text/javascript" src="../static/scripts/mine/util.js"></script>
<script type="text/javascript" src="../static/scripts/mine/weightedLGB.js"></script>
<script type="text/javascript" src="../static/scripts/mine/abstraction.js"></script>
</html>