<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Scatter Plots Abstraction</title>

    <link rel="shortcut icon" href="../static/favicon.ico">
    <link type="text/css" rel="stylesheet" href="../static/css/solid.css"/>
    <link type="text/css" rel="stylesheet" href="../static/css/regular.css"/>
    <link type="text/css" rel="stylesheet" href="../static/css/bootstrap-4.2.1.min.css"/>
    <link type="text/css" rel="stylesheet" href="../static/css/bootstrap-slider.min.css"/>
    <link type="text/css" rel="stylesheet" href="../static/css/my.css"/>

    <script type="text/javascript" src="../static/scripts/library/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../static/scripts/library/popper-1.14.6.min.js"></script>
    <script type="text/javascript" src="../static/scripts/library/bootstrap-4.2.min.js"></script>
    <!-- 滑块控件 -->
    <script type="text/javascript" src="../static/scripts/library/bootstrap-slider.min.js"></script>
    <script type="text/javascript" src="../static/scripts/library/FlatQueue.js"></script>
    <script type="text/javascript" src="../static/scripts/library/d3-regression.min.js"></script>
<!-- {#    <script type="text/javascript" src="../static/scripts/library/d3.min.js"></script>#} -->
    <script type="text/javascript" src="../static/scripts/library/d3.min_v5.js"></script>
    <script type="text/javascript" src="../static/scripts/library/b-spline.js"></script>
    <script type="text/javascript" src="../static/scripts/library/d3-delaunay@6.js"></script>
    <!-- vp树——最近邻搜索 -->
    <script type="text/javascript" src="../static/scripts/library/vptree.min.js"></script>
    <script type="text/javascript" src="../static/scripts/library/d3-array@3.js"></script>


</head>
<body style="margin: 8px">

</body>
<script type="text/javascript" src="../static/scripts/mine/util.js"></script>
<!-- <script type="text/javascript" src="../static/scripts/mine/weightedLGB.js"></script>
<script type="text/javascript" src="../static/scripts/mine/smooth_test.js"></script>
<script type="text/javascript" src="../static/scripts/mine/abstraction.js"></script>
<script type="text/javascript" src="../static/scripts/mine/histogram.js"></script>
<script type="text/javascript" src="../static/scripts/mine/contrast.js"></script>
<script type="text/javascript" src="../static/scripts/mine/kde_test.js"></script>
<script type="text/javascript" src="../static/scripts/mine/semantic_zooming.js"></script> -->
<!-- 刻点绘制js脚本 -->
<script type="text/javascript" src="../static/scripts/mine/radius_editor.js"></script>

</html>